<?xml version="1.0" encoding="utf-8" ?>
<!--   fileName="${basedir}/App_Data/logs/site-${date:format=yyyyMMdd}.log"   fileName="${basedir}/InOut/log.txt"
 <logger name="ApiSite.Handler.*" minlevel="Info" writeTo="InOutLog"  />-->
<!--  internalLogLevel="Debug"
      internalLogFile="c:\logs\nlog-internal.txt"
      internalLogToConsole="true"-->


<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

      throwConfigExceptions="true">

	<targets>
		<target name="logfile"
				xsi:type="File"
				fileName="${basedir}\logs\${date:format=yyyyMMdd}.log"
				keepFileOpen="true"
				layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=ToString,innerFormat=ToString}"/>

		<target xsi:type="File" name="ErrorFile" fileName="${basedir}/logs/Error_${date:format=yyyyMMdd}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}  ${exception:format=ToString,innerFormat=ToString}"/>
    <target xsi:type="Console" name="Debugger"
        layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=ToString,innerFormat=ToString}"/>
    </targets>


	<rules>
    <logger name="*" levels="Info,Error,Debug" writeTo="Debugger" />
		<logger name="*" minlevel="Info" writeTo="logfile" />
		<logger name="*" minlevel="Error" writeTo="logfile"/>
		<logger name="*" minlevel="Trace" writeTo="logfile" />
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>


</nlog>