.esapp-form-label {
  font-size: 1rem;
  font-weight: 700;
  white-space: nowrap;

  &--required::after {
    content: ' * ';
    color: var(--app-danger);
  }
}

.esapp-form-group,
.esapp-form-group-inline {
  margin-bottom: 1.5rem;
}

.esapp-form-group-inline {
  display: flex;
  flex-direction: row;

  .esapp-form-label {
    padding-right: 0.5rem;
    padding-top: 0.3rem;
  }
}

.esapp-form-error-message {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: var(--app-danger);
}

.form-check-input.indeterminate {
  background-color: var(--app-primary);
  border-color: var(--app-primary);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
}
